@model QuizApp.Models.Viewmodel.QuizViewMdel
@if(Model.Questions.Any())
{
    <form asp-controller="Quiz" asp-action="Submit" method="post">

        <div class="mt-4"> 

            <h1>Guess the capital - (@Model.Questions.Count questions)</h1>
            <div class="mt-4">
                @for (int i = 0; i < Model.Questions.Count; i++)
                {
                    <h3>@Model.Questions[i].Text</h3>
                    <div>
                        @foreach (var option in Model.Questions[i].Opions)
                        {
                            <p>
                                <label>
                                    <input type="radio" name="userAnswers[@i]" value="@option.Value" />
                                    @option.Text
                                </label>
                            </p>
                        }
                        
                    </div>
         
                }
            </div>

         </div>
         <div>
             <button type="submit" class="btn btn-primary">Submit</button>
         </div>
    </form>

}